{
  "env": {
    "node": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "eol-last": "error",
    "no-console": "off",
    "semi": "error"
  }
}
